/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/uploads/*
!/web/uploads/.gitignore
/web/assets/images/fallback_override.png
/.docker/middleware/middleware/
/.docker/search/search_node/
/packages/
!/packages/aakb/.gitignore
!/packages/itk-os2display/.gitignore
!/packages/os2display/.gitignore
composer-dev.lock
